---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?q=,Victoria,%20BC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.0027,"city":{"id":"6174041","name":"Victoria","coord":{"lon":-123.364,"lat":48.4283},"country":"Canada","population":0},"cnt":40,"list":[{"dt":1423623600,"main":{"temp":281.35,"temp_min":280.23,"temp_max":281.35,"pressure":1016.48,"sea_level":1039.89,"grnd_level":1016.48,"humidity":95,"temp_kf":1.12},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"clouds":{"all":56},"wind":{"speed":1.26,"deg":221.502},"rain":{"3h":0},"sys":{"pod":"n"},"dt_txt":"2015-02-11 03:00:00"},{"dt":1423634400,"main":{"temp":280.39,"temp_min":279.328,"temp_max":280.39,"pressure":1015.67,"sea_level":1039.16,"grnd_level":1015.67,"humidity":97,"temp_kf":1.06},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"clouds":{"all":68},"wind":{"speed":0.82,"deg":71.5008},"rain":{"3h":0},"sys":{"pod":"n"},"dt_txt":"2015-02-11 06:00:00"},{"dt":1423645200,"main":{"temp":279.79,"temp_min":278.786,"temp_max":279.79,"pressure":1015.44,"sea_level":[...]
